# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [2]:
# import libraries

import pandas as pd
import numpy as np

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import data set from Ironhack's database

df = pd.read_csv('pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here
print(df.head(11))

    #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0   1                  Bulbasaur  Grass  Poison    318  45      49       49
1   2                    Ivysaur  Grass  Poison    405  60      62       63
2   3                   Venusaur  Grass  Poison    525  80      82       83
3   3      VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4   4                 Charmander   Fire     NaN    309  39      52       43
5   5                 Charmeleon   Fire     NaN    405  58      64       58
6   6                  Charizard   Fire  Flying    534  78      84       78
7   6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111
8   6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78
9   7                   Squirtle  Water     NaN    314  44      48       65
10  8                  Wartortle  Water     NaN    405  59      63       80

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        65       65     45           1      False
1        80       80     60           1      False
2       100      100     80           1      False
3       122      120     80           1      False
4        60       50     65           1      False
5        80       65     80           1      False
6       109       85    100           1      False
7       130       85    100           1      False
8       159      115    100           1      False
9        50       64     43           1      False
10       65       80     58           1      False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
# your code here

values = np.empty(0)
values = df.unique([['Type 1', 'Type 2']])
len(values)

AttributeError: 'DataFrame' object has no attribute 'unique'

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [10]:
# your code here
df[df['Name'].str.contains('Mega ')]

def cambiarNombre(s):
    if 'Mega ' in s:
        s = s.split('Mega ')[1]
        s = 'Mega ' + s
        return s
    else:
        return s
    
[e for e in df["Name"].apply(cambiarNombre).unique() if "Mega" in e]
# test transformed data
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [8]:
# your code here
df = df.assign(AD_Ratio = lambda x: df['Attack']/df["Defense"])

 
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,AD_Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462

#### Identify the pokemon with the highest `A/D Ratio`.

In [1]:
# your code here
df.sort_values(by="AD_Ratio", ascending=False).head()

NameError: name 'df' is not defined

#### Identify the pokemon with the lowest A/D Ratio.

In [36]:
# your code here
np.min(df.loc[:, ["AD_Ratio"]])

0.043478260869565216

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [12]:
def regla(row):
    if pd.notna(row["Type 1"]) and pd.notna(row["Type 2"]):
        return [row["Type 1"]] + [row["Type 2"]]
    elif pd.notna([row["Type 1"]]):
        return [row["Type 1"]]
    elif pd.notna(row["Type 2"]):
        return [row["Type 2"]]
    else:
        pass
        

df["Combo_Type"] = df.apply(regla, axis=1)
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,AD_Ratio,Combo_Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,"[Grass, Poison]"
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,"[Grass, Poison]"
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,"[Grass, Poison]"
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,"[Grass, Poison]"
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,[Fire]
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,[Fire]
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,"[Fire, Flying]"
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,"[Fire, Dragon]"
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,"[Fire, Flying]"
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,[Water]

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [79]:
# your code here

top5 = df.sort_values("AD_Ratio", ascending=False).head()
top5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,AD_Ratio,Combo_Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,[Psychic]
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,"[Water, Dark]"
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,"[Bug, Poison]"
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,[Rock]
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,"[Water, Dark]"

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [105]:
# your code here
listaVacia = []

for index, row in df.iterrows():
    nuevaLista = [row.Combo_Type]
    listaVacia.append(nuevaLista)
for  row in top5:
    listaVacia.append(nuevaLista)


listaVacia = df.sort_values("Combo_Type", ascending=False).head()
listaVacia["Combo_Type"]

440    [Water, Steel]
626     [Water, Rock]
240     [Water, Rock]
625     [Water, Rock]
404     [Water, Rock]
Name: Combo_Type, dtype: object

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [6]:
for index,column in Combo_Type:
    df.agg(['mean'])
for index in Combo_Type:
    df.agg(['mean'])

NameError: name 'Combo_Type' is not defined

In [128]:
# your code here
for e in listaVacia:
     df.agg(['mean'])
    
return listaVacia

TypeError: Could not convert BulbasaurIvysaurVenusaurVenusaurMega VenusaurCharmanderCharmeleonCharizardCharizardMega Charizard XCharizardMega Charizard YSquirtleWartortleBlastoiseBlastoiseMega BlastoiseCaterpieMetapodButterfreeWeedleKakunaBeedrillBeedrillMega BeedrillPidgeyPidgeottoPidgeotPidgeotMega PidgeotRattataRaticateSpearowFearowEkansArbokPikachuRaichuSandshrewSandslashNidoranNidorinaNidoqueenNidoranNidorinoNidokingClefairyClefableVulpixNinetalesJigglypuffWigglytuffZubatGolbatOddishGloomVileplumeParasParasectVenonatVenomothDiglettDugtrioMeowthPersianPsyduckGolduckMankeyPrimeapeGrowlitheArcaninePoliwagPoliwhirlPoliwrathAbraKadabraAlakazamAlakazamMega AlakazamMachopMachokeMachampBellsproutWeepinbellVictreebelTentacoolTentacruelGeodudeGravelerGolemPonytaRapidashSlowpokeSlowbroSlowbroMega SlowbroMagnemiteMagnetonFarfetch'dDoduoDodrioSeelDewgongGrimerMukShellderCloysterGastlyHaunterGengarGengarMega GengarOnixDrowzeeHypnoKrabbyKinglerVoltorbElectrodeExeggcuteExeggutorCuboneMarowakHitmonleeHitmonchanLickitungKoffingWeezingRhyhornRhydonChanseyTangelaKangaskhanKangaskhanMega KangaskhanHorseaSeadraGoldeenSeakingStaryuStarmieMr. MimeScytherJynxElectabuzzMagmarPinsirPinsirMega PinsirTaurosMagikarpGyaradosGyaradosMega GyaradosLaprasDittoEeveeVaporeonJolteonFlareonPorygonOmanyteOmastarKabutoKabutopsAerodactylAerodactylMega AerodactylSnorlaxArticunoZapdosMoltresDratiniDragonairDragoniteMewtwoMewtwoMega Mewtwo XMewtwoMega Mewtwo YMewChikoritaBayleefMeganiumCyndaquilQuilavaTyphlosionTotodileCroconawFeraligatrSentretFurretHoothootNoctowlLedybaLedianSpinarakAriadosCrobatChinchouLanturnPichuCleffaIgglybuffTogepiTogeticNatuXatuMareepFlaaffyAmpharosAmpharosMega AmpharosBellossomMarillAzumarillSudowoodoPolitoedHoppipSkiploomJumpluffAipomSunkernSunfloraYanmaWooperQuagsireEspeonUmbreonMurkrowSlowkingMisdreavusUnownWobbuffetGirafarigPinecoForretressDunsparceGligarSteelixSteelixMega SteelixSnubbullGranbullQwilfishScizorScizorMega ScizorShuckleHeracrossHeracrossMega HeracrossSneaselTeddiursaUrsaringSlugmaMagcargoSwinubPiloswineCorsolaRemoraidOctilleryDelibirdMantineSkarmoryHoundourHoundoomHoundoomMega HoundoomKingdraPhanpyDonphanPorygon2StantlerSmeargleTyrogueHitmontopSmoochumElekidMagbyMiltankBlisseyRaikouEnteiSuicuneLarvitarPupitarTyranitarTyranitarMega TyranitarLugiaHo-ohCelebiTreeckoGrovyleSceptileSceptileMega SceptileTorchicCombuskenBlazikenBlazikenMega BlazikenMudkipMarshtompSwampertSwampertMega SwampertPoochyenaMightyenaZigzagoonLinooneWurmpleSilcoonBeautiflyCascoonDustoxLotadLombreLudicoloSeedotNuzleafShiftryTaillowSwellowWingullPelipperRaltsKirliaGardevoirGardevoirMega GardevoirSurskitMasquerainShroomishBreloomSlakothVigorothSlakingNincadaNinjaskShedinjaWhismurLoudredExploudMakuhitaHariyamaAzurillNosepassSkittyDelcattySableyeSableyeMega SableyeMawileMawileMega MawileAronLaironAggronAggronMega AggronMedititeMedichamMedichamMega MedichamElectrikeManectricManectricMega ManectricPlusleMinunVolbeatIllumiseRoseliaGulpinSwalotCarvanhaSharpedoSharpedoMega SharpedoWailmerWailordNumelCameruptCameruptMega CameruptTorkoalSpoinkGrumpigSpindaTrapinchVibravaFlygonCacneaCacturneSwabluAltariaAltariaMega AltariaZangooseSeviperLunatoneSolrockBarboachWhiscashCorphishCrawdauntBaltoyClaydolLileepCradilyAnorithArmaldoFeebasMiloticCastformKecleonShuppetBanetteBanetteMega BanetteDuskullDusclopsTropiusChimechoAbsolAbsolMega AbsolWynautSnoruntGlalieGlalieMega GlalieSphealSealeoWalreinClamperlHuntailGorebyssRelicanthLuvdiscBagonShelgonSalamenceSalamenceMega SalamenceBeldumMetangMetagrossMetagrossMega MetagrossRegirockRegiceRegisteelLatiasLatiasMega LatiasLatiosLatiosMega LatiosKyogreKyogrePrimal KyogreGroudonGroudonPrimal GroudonRayquazaRayquazaMega RayquazaJirachiDeoxysNormal FormeDeoxysAttack FormeDeoxysDefense FormeDeoxysSpeed FormeTurtwigGrotleTorterraChimcharMonfernoInfernapePiplupPrinplupEmpoleonStarlyStaraviaStaraptorBidoofBibarelKricketotKricketuneShinxLuxioLuxrayBudewRoseradeCranidosRampardosShieldonBastiodonBurmyWormadamPlant CloakWormadamSandy CloakWormadamTrash CloakMothimCombeeVespiquenPachirisuBuizelFloatzelCherubiCherrimShellosGastrodonAmbipomDrifloonDrifblimBunearyLopunnyLopunnyMega LopunnyMismagiusHonchkrowGlameowPuruglyChinglingStunkySkuntankBronzorBronzongBonslyMime Jr.HappinyChatotSpiritombGibleGabiteGarchompGarchompMega GarchompMunchlaxRioluLucarioLucarioMega LucarioHippopotasHippowdonSkorupiDrapionCroagunkToxicroakCarnivineFinneonLumineonMantykeSnoverAbomasnowAbomasnowMega AbomasnowWeavileMagnezoneLickilickyRhyperiorTangrowthElectivireMagmortarTogekissYanmegaLeafeonGlaceonGliscorMamoswinePorygon-ZGalladeGalladeMega GalladeProbopassDusknoirFroslassRotomRotomHeat RotomRotomWash RotomRotomFrost RotomRotomFan RotomRotomMow RotomUxieMespritAzelfDialgaPalkiaHeatranRegigigasGiratinaAltered FormeGiratinaOrigin FormeCresseliaPhioneManaphyDarkraiShayminLand FormeShayminSky FormeArceusVictiniSnivyServineSerperiorTepigPigniteEmboarOshawottDewottSamurottPatratWatchogLillipupHerdierStoutlandPurrloinLiepardPansageSimisagePansearSimisearPanpourSimipourMunnaMusharnaPidoveTranquillUnfezantBlitzleZebstrikaRoggenrolaBoldoreGigalithWoobatSwoobatDrilburExcadrillAudinoAudinoMega AudinoTimburrGurdurrConkeldurrTympolePalpitoadSeismitoadThrohSawkSewaddleSwadloonLeavannyVenipedeWhirlipedeScolipedeCottoneeWhimsicottPetililLilligantBasculinSandileKrokorokKrookodileDarumakaDarmanitanStandard ModeDarmanitanZen ModeMaractusDwebbleCrustleScraggyScraftySigilyphYamaskCofagrigusTirtougaCarracostaArchenArcheopsTrubbishGarbodorZoruaZoroarkMinccinoCinccinoGothitaGothoritaGothitelleSolosisDuosionReuniclusDucklettSwannaVanilliteVanillishVanilluxeDeerlingSawsbuckEmolgaKarrablastEscavalierFoongusAmoongussFrillishJellicentAlomomolaJoltikGalvantulaFerroseedFerrothornKlinkKlangKlinklangTynamoEelektrikEelektrossElgyemBeheeyemLitwickLampentChandelureAxewFraxureHaxorusCubchooBearticCryogonalShelmetAccelgorStunfiskMienfooMienshaoDruddigonGolettGolurkPawniardBisharpBouffalantRuffletBraviaryVullabyMandibuzzHeatmorDurantDeinoZweilousHydreigonLarvestaVolcaronaCobalionTerrakionVirizionTornadusIncarnate FormeTornadusTherian FormeThundurusIncarnate FormeThundurusTherian FormeReshiramZekromLandorusIncarnate FormeLandorusTherian FormeKyuremKyuremBlack KyuremKyuremWhite KyuremKeldeoOrdinary FormeKeldeoResolute FormeMeloettaAria FormeMeloettaPirouette FormeGenesectChespinQuilladinChesnaughtFennekinBraixenDelphoxFroakieFrogadierGreninjaBunnelbyDiggersbyFletchlingFletchinderTalonflameScatterbugSpewpaVivillonLitleoPyroarFlabbFloetteFlorgesSkiddoGogoatPanchamPangoroFurfrouEspurrMeowsticMaleMeowsticFemaleHonedgeDoubladeAegislashBlade FormeAegislashShield FormeSpritzeeAromatisseSwirlixSlurpuffInkayMalamarBinacleBarbaracleSkrelpDragalgeClauncherClawitzerHelioptileHelioliskTyruntTyrantrumAmauraAurorusSylveonHawluchaDedenneCarbinkGoomySliggooGoodraKlefkiPhantumpTrevenantPumpkabooAverage SizePumpkabooSmall SizePumpkabooLarge SizePumpkabooSuper SizeGourgeistAverage SizeGourgeistSmall SizeGourgeistLarge SizeGourgeistSuper SizeBergmiteAvaluggNoibatNoivernXerneasYveltalZygarde50% FormeDiancieDiancieMega DiancieHoopaHoopa ConfinedHoopaHoopa UnboundVolcanion to numeric