# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders =pd.read_csv('orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [3]:
orders.sort_values(by='amount_spent')

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
352746,479079,577129,22464,2011,11,4,19,hanging metal heart lantern,4,2011-11-17 19:52:00,0.00,15602,United Kingdom,0.00
53788,86789,543599,84535B,2011,2,4,13,fairy cakes notebook a6 size,16,2011-02-10 13:08:00,0.00,17560,United Kingdom,0.00
322279,439361,574469,22385,2011,11,5,11,jumbo bag spaceboy design,12,2011-11-04 11:55:00,0.00,12431,Australia,0.00
137127,198383,554037,22619,2011,5,5,14,set of 6 soldier skittles,80,2011-05-20 14:13:00,0.00,12415,Australia,0.00
208950,298054,562973,23157,2011,8,4,11,set of 6 nativity magnets,240,2011-08-11 11:42:00,0.00,14911,EIRE,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248706,348325,567423,23243,2011,9,2,11,set of tea coffee sugar tins pantry,1412,2011-09-20 11:05:00,5.06,17450,United Kingdom,7144.72
118352,173382,551697,POST,2011,5,2,13,postage,1,2011-05-03 13:46:00,8142.75,16029,United Kingdom,8142.75
155418,222680,556444,22502,2011,6,5,15,picnic basket wicker 60 pieces,60,2011-06-10 15:28:00,649.50,15098,United Kingdom,38970.00
37126,61619,541431,23166,2011,1,2,10,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.04,12346,United Kingdom,77183.60
397451,540421,581483,23843,2011,12,5,9,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,168469.60

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

# your code here
#Sub Problem 1: How to aggregate the amount_spent for unique customers?

a=orders.groupby('CustomerID')['amount_spent'].sum().reset_index()
a

In [4]:
#Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
per_95 = orders.amount_spent.quantile(0.95)  #numero

per_75 = orders.amount_spent.quantile(0.75)
per_95

67.5

In [15]:
#Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

VIP= orders[orders['amount_spent'] >= per_95].index
Preferred=orders [(orders['amount_spent'] < per_95) &(orders['amount_spent'] >= per_75)].index

# Add a new column 'Customer Type' and label customers as "VIP" or "Preferred"

total=orders[orders['amount_spent'] >= per_75].index

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [16]:
# your code here
b=orders[orders['CustomerID'].isin(VIP)].Country.value_counts()
b

Country
United Kingdom     20165
France               437
Australia            232
Germany              217
Switzerland          215
Norway               188
Portugal             182
Sweden                80
Denmark               76
Spain                 62
Belgium               59
Netherlands           51
Finland               22
Austria               21
Italy                 16
Channel Islands        4
Name: count, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

## your code here
c=orders[orders['CustomerID'].isin(VIP & Preferred)].Country.value_counts()
c

In [18]:
c=orders[orders['CustomerID'].isin(total)].Country.value_counts()

In [19]:
c

Country
United Kingdom     86487
France              3157
Netherlands         2363
Germany             1900
Spain                855
Switzerland          850
Portugal             739
Norway               624
Belgium              584
Italy                315
Israel               248
Australia            232
Poland               178
Finland              147
Cyprus               144
Greece               123
Denmark              112
Sweden                90
Austria               82
Channel Islands       79
RSA                   58
USA                   45
Unspecified           31
Czech Republic        25
Japan                 23
Name: count, dtype: int64